.date-buttons {
    display: flex;
    justify-content: space-between;
    line-height: 2.5em;
}

.date-button {
    flex-grow: 2;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 1em;

    font-size: 1.5em;
    font-weight: 600;
    color: #5c7080;
    border-radius: 5px;
    border-width: thin;
}

.date-under-edit, .date-dialog-header {
    text-align: center;
}

.date-under-edit {
    margin-bottom: 0.7em;
}

.date-dialog-body {
    display: flex;
    flex-direction: column;
}

.date-dialog {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
